apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
spec:
  replicas: 2
  template:
    spec:
      containers:
      - name: app
        image: lehlohonoloivan/my-app:LATEST_SHA
        ports:
        - containerPort: 8080

