name: Build and Push
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to DockerHub
        uses: docker/checkout@v2
        with:
          username: ${{ vars.MY_DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push
        run: | 
          docker build -t lehlohonoloivan@gmail.com/my-app:${{ github.sha }} .
          docker push lehlohonoloivan@gmail.com/my-app:${{ github.sha }}
