name: Build and Push
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USER }}" --password-stdin
      - name: Build and Push
        run: | 
          docker build -t lehlohonoloivan@gmail.com/my-app:${{ github.sha }} .
          docker push lehlohonoloivan@gmail.com/my-app:${{ github.sha }}
