name: Build and Push
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to DockerHub
        uses: actions/checkout@v4
        with:
          username: ${{ vars.MY_DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Tag Image
        run: 
         IMAGE_NAME=$(echo "lehlohonoloivan@gmail.com/my-app" | tr '[:upper:]' '[:lower:]')
         TAG_NAME="${{ github.sha }}"
      - name: Build and Push
        run: | 
          docker build -t "$IMAGE_NAME:$TAG_NAME" .
          docker push "$IMAGE_NAME:$TAG_NAME"
